<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Activiti begin -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
        <property name="databaseSchemaUpdate" value="${databaseSchemaUpdate}" />
        <property name="history" value="full" />
        <!--<property name="bulkInsertEnabled" value="false"/>-->
        <property name="maxNrOfStatementsInBulkInsert" value="25"/>
    </bean>

    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>

    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
    <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />

    <bean id="runtimeTaskHelper" class="com.gon.RuntimeTaskHelper">
        <property name="processEngine" ref="processEngine" />
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
        <property name="repositoryService" ref="repositoryService" />
        <property name="runtimeService" ref="runtimeService" />
        <property name="formService" ref="formService" />
        <property name="identityService" ref="identityService" />
        <property name="taskService" ref="taskService" />
        <property name="historyService" ref="historyService" />
        <property name="managementService" ref="managementService" />
    </bean>

</beans>
