<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- &lt;!&ndash; MyBatis配置 &ndash;&gt;
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        &lt;!&ndash; 自动扫描entity目录, 省掉Configuration.xml里的手工配置 &ndash;&gt;
        <property name="typeAliasesPackage" value="com.aspire.**.entity" />
        &lt;!&ndash; 显式指定Mapper文件位置 &ndash;&gt;
        <property name="mapperLocations">
            <list>
                <value>classpath*:/com/aspire/**/mysql/*.xml</value>
            </list>
        </property>
        <property name="plugins">
            <list>
                <ref bean="paginationInterceptor" />
            </list>
        </property>
    </bean>-->
</beans>
